a.RDS:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.RPK:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.Afrikaans:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.Assembly:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.English:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.BE:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.CAT:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.Math:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.S:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.LS:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  a.LO:hover {
    color: blue;
    animation-duration: 500ms;
    animation-name: wave;
    animation-iteration-count: 1;
    /*transform: scale(1.2);*/
    animation-fill-mode: forwards;
  }
  /*#cal {
    transform: scale(0.90);
    margin-right: 25px;;
  }*/
  @keyframes wave {
        0% {
          transform: rotate(2.5deg);
          font-weight: bold;
        }
        25% {
          transform: rotate(-5deg);
        }
        50% {
          transform: rotate(5deg);
        }
        100% {
          transform: rotate(-2.5deg);
          transform: scale(1.15);
          font-weight: 750;
        }
      }
      .container {
        display: grid;
        width: 100vw;
        grid-template-columns: repeat(20, minmax(50px, 10vw));
        grid-template-rows: repeat(13, 1fr);
        padding: 20px;
      }
  
     @media screen and (max-width: 531px) {
      .container { display: grid; width: 100vw;
        grid-template-columns: repeat(20, minmax(10px, 10vw));
        grid-template-rows: repeat(13, 1fr);
        padding: 20px; }
        .item {
          font-size: 15px !important;
        }
        .item42 {
          font-size: 13px !important;
        }
        .name {
          font-size: 7px !important;
        }
        .clock {
          display: none;
        }
  }
      .item {
        grid-column: span 2;
        grid-row: span 2;
        border-width: 1px;
        border-color: #000000;
        font-weight: bold;
      }
      .item1 {
        grid-column: 1/-1;
        grid-row: span 1;
        color:rgb(0, 0, 0);
        background-color: transparent;
        border-width: 0px;
      }
      .item2 {
        align-self: center;
        grid-column: span 4/13;
        justify-items: center;
      }
      .item3 {
        align-self: center;
        grid-column: span 4/13;
        justify-items: center;
        background-color: blue;
        height: 25vh;
      }
      .item53 {
        grid-column: span 1;
      }
      /*.item54 {
        grid-column: span 1;
      }*/
      .RDS { 
        color: #000000;
        background-color: #0099ff;
      }
      .RPK {
        color: #ffffff;
        background-color: #002060;
      }
      .time {
        color: #ffffff;
        background-color: #000000;
      }
      .date {
        color: #ffffff;
        background-color: #000000;
      }
      .empty {
        background-color: #ffff66;
      }
      .Math {
        color: #000000;
        background-color: #FF0066;
      }
      .CAT {
        color: #000000;
        background-color: #eeff00;
      }
      .Afrikaans {
        color: #000000;
        background-color: #0fd000;
      }
      .English {
        color: #000000;
        background-color: #ff0000;
      }
      .Assembly{
        color: #000000;
        background-color: #0070c0;
      }
      .S {
        color: #000000;
        background-color: #808080;
      }
      .LO {
        color: #ffffff;
        background-color: #800080;
      }
      .BE {
        color: #ffffff;
        background-color: #996600;
      }
      .LS {
        color: #000000;
        background-color: #99ffcc;
      }